<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAX TEST</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
       <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>




<script>
	$(document).ready(function(){
	 $("#msgid").html("jquery works!");
	});
</script>

<p>Jquery Test</p>

<div id="msgid">waiting for jquery ...</div>

<br><br>

<script>

		function ajaxTest(target) {
                
                    $(target).click(function() {
		    
		   	alert("aaaaaaaaa");
			
                        $.ajax({
					url: '/ajaxTest',
					type: 'get',
					dataType:'json',
					success: function(data) { alert(data); },
					error: function() {
					     alert(error);
					}
			}); 
			
			// alert("ooooooooo");
			// $("#theText").html("theData");
			
                    }); // end $target function
                } // end ajaxTest

</script>

           <h4>Test invio ricezione verso file di destinazione</h4>
			<button id="theTarget">clicca per testare</button>
			<div id="theText">text to change...</div>

            <script>
              // richiama la funzione ajax
                ajaxTest("#theTarget");
           </script>


</body>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

</html>
